{% extends "base.html.twig" %}

{% block title "Contact" %}

{% block body %}
<div class="max-w-6xl m-auto w-full md:h-screen py-16 mb-10">
    <!-- text - start -->
    {% for contact in contactDescription %}
    <div class="mb-10 md:mb-16 px-4">
        <h2 class="text-3xl text-center text-gray-700 font-bold">{{contact.title}}</h2>
    <div>
    <div class="grid md:grid-cols-2 py-8 gap-8"> 
        <div class="px-2">
            <span class="w-full md:h-full object-cover p-2">{{contact.description | raw}}</span>
        </div>
        
        <div class="border border-primary px-2">
            <p class="text-gray-700 p-6">Gwada Excursion : 06 90 72 04 01</p>
        </div>
    </div>
    {% endfor %}
    <div class="grid md:grid-cols-2 mb-8 gap-8">
        <img 
        class="w-full md:h-full object-cover p-2 max-h-[500px] h-[200px]"
        src="https://images.unsplash.com/photo-1541417904950-b855846fe074?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8ODN8fHBsYWdlJTIwZGUlMjBzYWJsZSUyMHZ1ZSUyMGRlJTIwaGF1dHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=800&q=60" alt="">
        
        {% include "components/_contactForm.html.twig" with {form: contactForm} only %}
    </div>
    
</div>
</div>

{% endblock %}