{% extends "base.html.twig" %}

{% block title "Contact" %}

{% block body %}
<div class="max-w-6xl mx-auto">
  <div class="">
    <!-- text - start -->
    {% for contact in contactDescription %}
    <div class="mb-10 md:mb-16 px-4">
      <h2 class="text-color-gradient text-2xl lg:text-3xl font-bold text-center my-4 md:mb-6">{{contact.title}}</h2>
      <div>
        <div class="text-secondary md:text-lg text-justify mx-auto leading-loose">
          {{contact.description | raw}}
        </div>
      </div>
    </div>
    {% endfor %}

    {% include "components/_contactForm.html.twig" with {form: contactForm} only %}

  </div>
</div>
{% endblock %}