{% extends 'base.html.twig' %}

{% block title %}Gwada excursion | Mentions légales{% endblock %}

{% block body %}
<section class="max-w-6xl mx-auto">
  <div class="py-8 px-4 sm:py-16">
    <h1 class="text-primary text-2xl text-center pb-5">Mentions Légales</h1>
    <h2 class="text-primary py-3"><strong>1.Protection des biens et des personnes </strong></h2>
    <h2 class="py-3"><strong>gestion des données personnelles</strong></h2>

    <p>Le Client est informé des réglementations concernant la communication marketing, loi n° 78-87 du 6 janvier 1978,
      la
      loi du 21 Juin 2014 pour la confiance dans l’Economie Numérique, la Loi Informatique et Liberté n° 2004-801 du 06
      Août 2004 ainsi que du Règlement Général sur la Protection des Données (RGPD : n° 2016-679).
    </p>
    <h3 class="py-3"><strong>Responsables de la collecte des données personnelles</strong></h3>
    <p class="py-3">Pour les Données Personnelles collectées dans le cadre de la création du compte personnel de
      l’Utilisateur et de sa navigation sur le Site, le responsable du traitement des Données Personnelles est :
      <a>rgpd@informatique.fr</a>
    </p>
    <p class="py-3"><strong>gwadaexcursion.fr</strong> est représenté par DELAHAYE Clément, son représentant légal.</p>
    <p class="py-3">En tant que responsable du traitement des données qu’il collecte, <strong><a
          href="http://gwadaexcursion.fr">gwadaexcursion.fr</a> </strong>s’engage à respecter le cadre des dispositions
      légales en vigueur. Il lui appartient notamment au Client d’établir les finalités de ses traitements de données,
      de
      fournir à ses prospects et clients, à partir de la collecte de leurs consentements, une information complète sur
      le
      traitement de leurs données personnelles et de maintenir un registre des traitements conforme à la réalité. Chaque
      fois que <strong><a href="https://gwadaexcursion.fr">gwadaexcursion.fr</a> </strong>traite des Données
      Personnelles,
      <strong><a href="https://gwadaexcursion.fr">gwadaexcursion.fr</a> </strong> prend toutes les mesures raisonnables
      pour
      s’assurer de l’exactitude et de la pertinence des Données Personnelles au regard des finalités pour lesquelles
      <strong><a href="https://gwadaexcursion.fr">gwadaexcursion.fr</a> </strong> les traites.
    </p>
    <h3 class="py-3"><strong>Finalité des données collectées</strong></h3>
    <p class="py-3"><strong>gwadaexcursion.fr</strong> est susceptible de traiter tout ou partie des données :</p>
    <ul class="list-inside list-disc">
      <li>pour permettre la navigation sur le Site et la connexion à l&rsquo;espace privée par l’utilisateur : données
        de
        connexion et d’utilisation du Site</li>
      <li>pour prévenir et lutter contre la fraude informatique (spamming, hacking…) : matériel informatique utilisé
        pour
        la navigation, l’adresse IP, pages visitées</li>
      <li>pour améliorer la navigation sur le Site : données de connexion et d’utilisation</li>
    </ul>
    <p class="py-3"><strong>gwadaexcursion.fr</strong> ne commercialise pas vos données personnelles qui sont donc
      uniquement utilisées
      par nécessité ou à des fins statistiques et d’analyses.</p>
    <h2 class="py-3"><strong>Limitation de responsabilité</strong></h2>
    <p class="py-3">Les informations contenues sur ce site sont aussi précises que possible et le site est
      périodiquement remis à jour,
      mais peut toutefois contenir des inexactitudes, des omissions ou des lacunes. Si vous constatez une lacune, erreur
      ou ce qui paraît être un dysfonctionnement, merci de bien vouloir le signaler par email en décrivant le problème
      de
      la manière la plus précise possible (page posant problème, action déclenchante, type d’ordinateur et de navigateur
      utilisé, …) <strong><a href="https://gwadaexcursion.fr">gwadaexcursion.fr</a> </strong>ne peut pas être tenu
      responsable des lacunes, erreurs ou dysfonctionnement engendrés.</p>
    <p class="py-3">Tout contenu téléchargé se fait aux risques et périls de l&rsquo;utilisateur et sous sa seule
      responsabilité. Par
      conséquent, <strong>gwadaexcursion.fr</strong> ne saurait être tenu responsable d&rsquo;un quelconque dommage subi
      par
      l&rsquo;ordinateur de l&rsquo;utilisateur ou d&rsquo;une quelconque perte de données consécutives au
      téléchargement.
    </p>
    <p class="py-3">Les liens hypertextes mis en place dans le cadre du présent site internet en direction
      d&rsquo;autres ressources
      présentes sur le réseau Internet ne sauraient engager la responsabilité des avocats du cabinet.<strong></strong>
    </p>
    <h2 class="py-3 text-primary"><strong>2. Liens hypertextes et cookies</strong></h2>
    <h3 class="py-3"><strong>Liens hypertexte</strong></h3>
    <p class="py-3">Le site <strong><a href="https://gwadaexcursion.fr">gwadaexcursion.fr</a> </strong> peut contenir un
      certain nombre de
      liens hypertextes vers d’autres sites. <strong><a href="https://gwadaexcursion.fr">gwadaexcursion.fr</a> </strong>
      ne
      dispose d&rsquo;aucun moyen pour contrôler les sites en connexion avec son site internet et ne répond pas de la
      disponibilité de tels sites et sources externes, ni ne la garantit. Le cabinet d&rsquo;avocats ne peut être tenu
      pour responsable de tout dommage, de quelque nature que ce soit, résultant du contenu de ces sites ou sources
      externes, et notamment des informations, produits ou services qu’ils proposent.</p>
    <p class="py-3">Si vous naviguez vers un de ces sites, veuillez noter qu’ils possèdent leur propre politique de
      confidentialité et
      que notre responsabilité s’arrête au moment où vous quittez notre site.</p>
    <p class="py-3">Les propriétaires de sites internet tiers ne peuvent mettre en place un hyperlien en direction de ce
      site sans
      l&rsquo;autorisation expresse et préalable du cabinet d&rsquo;avocats qui se réserve le droit d’accepter ou de
      refuser un hyperlien sans avoir à en justifier sa décision.</p>
    <h3 class="py-3 text-primary"><strong>3.Cookies</strong></h3>
    <p class="py-3">Nous utilisons différents cookies sur le site pour améliorer l’interactivité du site et nos
      services.</p>
    <h4 class="py-3">Qu&rsquo;est-ce qu&rsquo;un « cookie » ?</h4>
    <p class="py-3">Un « cookie » est un fichier de taille limitée, généralement constitué de lettres et de chiffres,
      envoyé par le
      serveur internet au fichier cookie du navigateur situé sur le disque dur de votre ordinateur.</p>
    <p class="py-3">Ces fonctionnalités utilisent des cookies tiers directement déposés par ces services.</p>
    <p class="py-3">Lors de votre première visite sur <strong><a
          href="https://gwadaexcursion.fr">gwadaexcursion.fr</a></strong>, un
      bandeau vous informe de la présence de ces cookies et vous invite à indiquer votre choix. Ils ne sont déposés que
      si
      vous les acceptez ou que vous poursuivez votre navigation sur le site en visitant une seconde page de <strong><a
          href="https://gwadaexcursion.fr">gwadaexcursion.fr</a> </strong>.<br />Vous pouvez à tout moment vous informer
      et
      paramétrer vos cookies pour les accepter ou les refuser. Vous pourrez indiquer votre préférence soit globalement
      pour le site, soit par page.</p>
    <p class="py-3">Ces cookies sont générés automatiquement par la plateforme d’exploitation, l’Ordre des Avocats n’a
      aucune action
      dans leur génération.<br />Vous avez toutefois la possibilité selon les plateformes utilisées de vous y opposer,
      de
      les supprimer en utilisant les paramètres de votre navigateur ou même de les bloquer.</p>
    <p class="py-3">Le paramétrage du logiciel de navigation permet d’informer de la présence de cookie et
      éventuellement, de la
      refuser de la manière décrite à l’adresse suivante : <a
        href="https://www.cnil.fr/fr/mentions-legales">www.cnil.fr</a>.</p>
    <h3 class="py-3 text-primary"><strong>4 Les cookies tiers</strong></h3>
    <p class="py-3">Notre site peut contenir des liens vers ou depuis des sites partenaires et d’autres sites tiers. Si
      vous naviguez
      vers un de ces sites, veuillez noter qu’ils possèdent leur propre politique de confidentialité et que notre
      responsabilité s’arrête au moment où vous quittez notre site. Vérifiez les politiques de confidentialité avant de
      transmettre vos données personnelles à des sites tiers.</p>
    <p class="py-3">Pour en savoir plus sur les Mentions Légales de se site vous pouvez consulter la page<a
        href="https://gwadaexcursion.fr/mentions-legales/"> » Mentions Légales » </a></p>
  </div>
</section>
{% endblock %}