{% extends "base.html.twig" %}

{% block body %}
<section>
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <h2 class="mb-8 lg:text-4xl md:text-3xl sm:text-xl tracking-tight font-extrabold text-color-gradient text-center">
      Comment réserver ?
    </h2>
    <div class="grid pt-8 text-left border-t border-theme-color md:gap-16 lg:grid-cols-1">
      <div>
        <div class="mb-10 leading-loose text-lg">
          <p class="text-secondary">
            Vous souhaitez connaître les disponibilités pour planifier vos vacances? Contactez nous afin que l'on trouve
            l'option qui s'adapte la mieux à votre profil.
          </p><br>
          <p class="text-secondary">
            Pour chaque réservation nous faisons tout notre possible pour vous trouver une excursion la plus adapté à
            vos envies, avec le bateau qui correspond à votre demande, tout en essayant de prévoir la date en fonction
            des prévisions de la météo marine pour vous offrir la meilleure journée possible.</p>
        </div>
      </div>
    </div>
    <div />
</section>
{% endblock %}