{% extends "base.html.twig" %}

{% block title %}Gallerie | Gwada excursion {% endblock %}

{% block body %}

{# <div class="max-w-[1140px] h-screen m-auto">
    {% include "components/_slide.html.twig" %}
</div> #}

<div class="flex items-center justify-center h-[70vh] md:h-[800px] bg-gradient">
    <div class="max-w-[1140px] m-auto">
        {% include "components/_slide.html.twig" %}
    </div>
</div>

{% endblock %}