{% extends "base.html.twig" %}

{% block title %}Gallerie | Gwada excursion {% endblock %}

{% block body %}

<div class="flex items-center justify-center h-[80vh] md:h-[800px] bg-black/90">
    <div class="max-w-[1140px] m-auto">
        {% include "components/_slide.html.twig" %}
    </div>
</div>

{% endblock %}