{% extends "base.html.twig" %}

{% block body %}

<div class="max-w-6xl mx-auto">
  <div class="text-center text-color-gradient text-xl md:text-2xl font-bold py-7 uppercase ">
    <h1>Listes des activités</h1>
  </div>

  {% include "components/_excursion.html.twig" %}
</div>

{% endblock %}