{% extends "base.html.twig" %}

{% block body %}

<div class="text-center text-color-gradient lg:text-3xl md:text-xl font-bold py-10 uppercase ">
  <h1>Listes des activités</h1>
</div>

<div class="max-w-screen-xl px-4 md:px-6 mx-auto">
  {% include "components/_excursion.html.twig" %}
</div>
{% endblock %}