{% extends '@!CHCookieConsent/cookie_consent.html.twig' %}


 {% block read_more %}
    <a class="ch-cookie-consent__read-more" href="{% block read_more_link %}/mentions-legales{% endblock %}">{{ 'ch_cookie_consent.read_more'|trans({}, 'CHCookieConsentBundle') }}</a>
{% endblock %}