@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

input, textarea {
  border-color: black;
}

.ch-cookie-consent {
  background-color: #88BBBC;
}

.ch-cookie-consent__btn { 
  background-color: #5BA1AE;
  border: 1px solid #ffffff;
  color:#ffffff;
}

.ch-cookie-consent__category-toggle input:checked + label, .ch-cookie-consent__category-toggle input + label:hover {
  background-color: #5BA1AE;
}

#cookie_consent_save{
  margin-top: 10%;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.bg-card {
  @apply absolute z-0 inset-0 bg-gradient-to-r from-cyan-400 to-emerald-400 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 rounded-md;
}

.bg-gradient {
  @apply bg-gradient-to-r from-cyan-400 to-emerald-400 z-0 inset-0
}

.btn-gradient-home {
@apply inline-block w-auto mt-4 px-6 py-2 bg-gradient-to-r from-cyan-400 to-emerald-400 rounded-md shadow-md text-sm text-white p-4 font-semibold text-center;
}

.btn-gradient {
  @apply inline-block w-auto mt-4 px-6 py-2 bg-gradient-to-r from-cyan-400 to-emerald-400 rounded-md shadow-md text-sm font-bold text-white;
}

.text-color-gradient {
  @apply font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-cyan-400 to-emerald-600;
}