@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

@layer base {
  body {
    @apply font-poppins;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-xl;
  }
}

@layer components {
  .btn-primary {
    @apply mt-4 inline-block w-auto bg-gradient-to-r from-cyan-400 to-emerald-400 px-6 py-2 text-sm font-bold text-white shadow-md hover:to-emerald-500;
  }

  .text-color-gradient {
    @apply bg-gradient-to-r from-cyan-400 to-emerald-600 bg-clip-text font-extrabold text-transparent;
  }

  .bg-gradient {
    @apply inset-0 z-0 bg-gradient-to-r from-cyan-400 to-emerald-400;
  }
}

#cookie_consent_save {
  margin-top: 10%;
}

.ch-cookie-consent__btn {
  background: linear-gradient(
    90deg,
    rgba(34, 211, 238, 1) 0%,
    rgba(52, 211, 153, 1) 48%
  );
  border: 1px solid #ffffff;
  color: #ffffff;
}
