<div class="max-w-screen-lg mx-auto text-center font-bold mt-10" id="success-message">
	{% for message in app.flashes('success') %}
		<div class="bg-badge-success border-t-4 border-primary rounded-b text-secondary px-4 py-3 shadow-md" role="alert">
			<div class="flex">
				<div>
					<p class="font-bold">{{ message }}</p>
				</div>
			</div>
		</div>
	{% endfor %}
</div>


<div class="max-w-screen-lg grid sm:grid-cols-2 gap-4 mx-auto mt-24">
	{{ form(form, {'method': 'POST'}) }}
		<div class="mx-auto">
			<div class="border border-primary rounded shadow-sm mb-10 py-5 px-4 text-secondary">
		Gwada Excursion : 06 90 72 04 01
	</div>
			<div class="map-responsive">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3830.928711632931!2d-61.392706684849706!3d16.224104239577464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c134b895084c00d%3A0xab3d891ff890c3b!2sLe%20Village%20Artisanal!5e0!3m2!1sen!2sfr!4v1671585438596!5m2!1sen!2sfr" width="380" height="480" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
		</div>
	</div>
</div>


