<div class="relative px-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mb-4 md:mb-8">
    {% for service in services %}

        <div class="bg-white h-auto shadow shadow-primary rounded-md ">
            <a href="{{path('app_services_show', {'slug': service.slug}) }}"
                class="group flex items-end overflow-hidden relative w-full">
                <div
                    class="bg-white overflow-hidden w-full">
                    <img class="h-48 w-full object-cover inset-0 group-hover:scale-110 transition cursor-pointer"
                        src="{{ vich_uploader_asset(service,'imageFile')| imagine_filter('miniature') }}" loading="lazy"
                        alt="{{service.name}}" />
                    <div class="p-6">
                        <h4 class="mt-2 font-semibold text-lg leading-tight truncate">{{service.name}}</h4>
                    </div>
                </div>
            </a>
        </div>
    
    {% endfor %}
</div>